# General Settings
SKIP_SYSTEM_CHECK=no
FORCE_SEND_NOTIFICATION=no
PARTIAL_SYSTEM_CHECK=no
CHECK_TARGET_DIRECTORIES="/home/ /var/www/ /opt/"
TARGET_DIR_MAX_SIZE="512" # MiB
MAX_KEEP_LOGS=5
DISK_THRESHOLD=85 # Percentage
MEMORY_THRESHOLD=75
CPU_THRESHOLD=70

# SSL Expiry Check (Required At least 1)
DOMAINS_TO_CHECK="google.com yahoo.com"

# Website and VirusTotal Check
URLS_TO_SCAN="https://www.google.com/ https://www.yahoo.com/"

# Virustotal Credentials
VIRUSTOTAL_API_KEY="664d3464d0fff8a845af842eb1a54635fc7ca77280b4f7706b41120fe51f5b141"

# Credentials
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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o

# SMTP Credentials
SMTP_SERVER=mx1.your-smtp.com
SMTP_USERNAME=reports.noreply@your-website.com
SMTP_PASSWORD=S3cure_&RandomP4ssw0Rd
SMTP_PORT=587
USE_SSL=false
REQUEST_TIMEOUT=30
MAX_TRIES=3
MAX_TRIES_INTERVAL=5
SEND_COMMANDS_DELAY=3

# Sender and Receiver
SENDER_NAME="Notifications DataCarePh"
SENDER_EMAIL=""
RECEIVER_NAME="Your-Reciever"
RECEIVER_EMAIL="your-receiver@gmail.com"
CARBON_COPY="reports.noreply@your-website.com your-cc-email@gmail.com"
CARBON_COPY_FULL="Reports DataCarePh <reports.noreply@your-website.com>, Your CC Email <your-cc-email@gmail.com>"
EMAIL_SUBJECT="Scheduled Notification: Client Service Status"
COMPANY_ADDRESS="Iloilo, 5000, Philippines"
UNSUBSCRIBE_URL="https://www.your-website.com/?email=unsubscribe&verify=true"
PREHEADER_TEXT="You have received a scheduled notification. Please do not reply to this message:"